* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.exemplo {
  width: 150px;
  height: 150px;
  background-color: green;
  margin: 100px auto;
  transition: all 1s linear;
}

.exemplo:hover {
  width: 300px;
}

a {
  color: #000;
  transition: all 1s linear;
}

a:hover {
  color: #f00;
}