* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.topo {
  height: 30px;
  background-color: #333;
  color: #fff;
}

.topoint {
  width: 100%;
  max-width: 1040px;
  height: 30px;
  margin: auto;
}

.topoleft {
  width: 50%;
  height: 30px;
  float: left;
}

.toporight {
  width: 50%;
  height: 28px;
  float: left;
  margin-top: 2px;
}

.topoleft ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.topoleft li {
  height: 30px;
  line-height: 30px;
  float: left;
  margin: 0 8px;
}

.topoleft li a {
  text-decoration: none;
  color: #fff;
}

.topoleft li .ativo {
  color: #00f;
}

.topobusca {
  width: 110px;
  height: 26px;
  outline: 0;
}

.toporight a,
input {
  float: right;
}

.toporight img {
  margin: 0 3px;
}

.topo2 {
  height: 95px;
  color: #000;
}

.topo2int {
  width: 100%;
  max-width: 1040px;
  height: 95px;
  margin: auto;
}

.logo {
  width: 230px;
  height: 90px;
  float: left;
  margin-top: 5px;
}

.topo2 .banner {
  width: 650px;
  height: 80px;
  float: right;
  margin: 7px 0;
  background-color: #f00;
}

.menu {
  height: 40px;
  background-color: #f00;
}

.menuint {
  width: 100%;
  max-width: 1040px;
  height: 40px;
  margin: auto;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0 8px;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

.submenu {
  width: 150px;
  background-color: #f00;
  position: absolute;
  display: none;
}

.menu li:hover .submenu {
  display: block;
}

.submenuitem {
  width: 150px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

.submenuitem:hover {
  background-color: #f55;
}

.ultimasnoticias {
  height: 40px;
}

.ultimasnoticiasint {
  width: 100%;
  height: 40px;
  max-width: 1040px;
  margin: auto;
}

.ultnoticiasarea {
  height: 28px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 10px 0;
}

.ultnoticiastitulo {
  background-color: #f00;
  color: #fff;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.ultnoticiasnoticia {
  color: #000;
  height: 28px;
  line-height: 28px;
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1040px;
  margin: auto;
}

.leftside {
  width: 753px;
  float: left;
}

.rightside {
  width: 275px;
  float: right;
  margin-left: 12px;
}

.widget {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.widget_titulo {
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  font-size: 14px;
  background-color: #ddd;
  border-bottom: 1px solid #ccc;
}

.widget_conteudo {
  text-align: center;
  padding: 5px 0;
}

.noticia_item {
  font-size: 14px;
  padding: 10px 0;
  margin: 0 10px;
  text-align: justify;
  border-bottom: 1px solid #ccc;
}

.noticia_item a {
  text-decoration: none;
  color: #000;
}

.noticia_item:last-child {
  border: none;
}

.slideshow {
  height: 335px;
  background-color: #ccc;
  overflow: hidden;
}

.slideshowarea {
  height: 335px;
}

.slide {
  height: 335;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}