* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.topo {
  height: 30px;
  background-color: #333;
  color: #fff;
}

.topoint {
  width: 100%;
  max-width: 1040px;
  height: 30px;
  margin: auto;
}

.topoleft {
  width: 50%;
  height: 30px;
  float: left;
}

.toporight {
  width: 50%;
  height: 28px;
  float: right;
  margin-top: 2px;
}

.topoleft ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.topoleft li {
  height: 30px;
  line-height: 30px;
  float: left;
  margin: 0 8px;
}

.topoleft li a {
  text-decoration: none;
  color: #fff;
}

.topoleft li .ativo {
  color: #00f;
}

.topobusca {
  width: 110px;
  height: 26px;
  outline: 0;
}

.toporight a,
.toporight input {
  float: right;
}

.toporight img {
  margin: 0 3px;
}

.topo2 {
  height: 95px;
  color: #000;
}

.topo2int {
  width: 100%;
  max-width: 1040px;
  height: 95px;
  margin: auto;
}

.logo {
  width: 230px;
  height: 90px;
  float: left;
  margin-top: 5px;
}

.topo2 .banner {
  width: 650px;
  height: 80px;
  float: right;
  margin: 7px 0;
  background-color: #f00;
}

.menu {
  height: 40px;
  background-color: #f00;
}

.menuint {
  width: 100%;
  max-width: 1040px;
  height: 40px;
  margin: auto;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0 8px;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

.submenu {
  width: 150px;
  background-color: #f00;
  position: absolute;
  display: none;
}

.menu li:hover .submenu {
  display: block;
}

.submenuitem {
  width: 140px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

.submenuitem:hover {
  background-color: #f55;
}

.ultimasnoticias {
  height: 40px;
}

.ultimasnoticiasint {
  width: 100%;
  height: 40px;
  max-width: 1040px;
  margin: auto;
}

.ultnoticiasarea {
  height: 28px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin: 10px 0;
}

.ultnoticiastitulo {
  background-color: #f00;
  color: #fff;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.ultnoticiasnoticia {
  color: #000;
  height: 28px;
  line-height: 28px;
  display: inline-block;
}

.containerint {
  width: 100%;
  max-width: 1040px;
  margin: auto;
}

.leftside {
  width: 753px;
  float: left;
}

.rightside {
  width: 275px;
  float: right;
  margin-left: 12px;
}

.widget {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.widget_titulo {
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  font-size: 14px;
  background-color: #ddd;
  border-bottom: 1px solid #ccc;
}

.widget_conteudo {
  text-align: center;
  padding: 5px 0;
}

.noticia_item {
  font-size: 14px;
  padding: 10px 0;
  margin: 0 10px;
  text-align: justify;
  border-bottom: 1px solid #ccc;
}

.noticia_item a {
  text-decoration: none;
  color: #000;
}

.noticia_item:last-child {
  border: none;
}

.slideshow {
  height: 335px;
  overflow: hidden;
  margin-bottom: 20px;
}

.slideshowarea {
  height: 335px;
  width: 100000px;
  transition: all 1s;
}

.slide {
  height: 335px;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slideinfo {
  height: 70px;
  background-image: url(../images/slideshow_bg.png);
  background-size: auto 70px;
  margin-top: 265px;
}

.slideinfo_titulo {
  font-size: 20px;
  color: #fff;
  padding: 15px 0 0 20px;
}

.slideinfo_subtitulo {
  font-size: 13px;
  color: #fff;
  padding-left: 20px;
}

.slidebolinhas {
  position: absolute;
  width: 200px;
  height: 20px;
}

.bolinha {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 10px;
}

.bolinha:nth-child(1) {
  background-color: #ff0000;
}

.noticiaarea1 {
  width: 430px;
  height: 420px;
  float: left;
}

.noticiaarea2 {
  width: 320px;
  height: 420px;
  float: left;
}

.noticiaitem {
  text-align: left;
  height: 88px;
  margin: 7px 0;
}

.noticiabig {
  margin: 0 0 0 10px;
}

.noticiabig .noticiaimg {
  width: 384px;
  height: 222px;
}

.noticiabig .noticiaimg img {
  width: 384px;
  height: 222px;
}

.noticiabig .noticiatitulo {
  width: 384px;
  font-size: 30px;
}

.noticiaimg {
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  float: left;
}

.noticiatitulo {
  float: left;
  margin-left: 6px;
  font-size: 16px;
}

.noticiainfo {
  width: 226px;
  font-size: 12px;
  margin-left: 6px;
  color: #999;
  float: left;
}

.menumobile {
  display: none;
}

@media only screen and (min-width: 906px) and (max-width: 1057px) {
  .topoint,
  .topo2int,
  .menuint,
  .ultimasnoticiasint,
  .containerint {
    max-width: 890px;
  }

  .leftside {
    width: 600px;
  }

  .noticiaarea1 {
    width: 278px;
  }

  .noticiabig .noticiaimg,
  .noticiabig .noticiaimg img,
  .noticiabig .noticiatitulo {
    width: 245px;
  }
}

@media only screen and (min-width: 783px) and (max-width: 906px) {
  .topoint,
  .topo2int,
  .menuint,
  .ultimasnoticiasint,
  .containerint {
    max-width: 768px;
  }

  .topo2 .banner,
  .rightside {
    display: none;
  }

  .logo {
    float: none;
    margin: auto;
  }

  .leftside {
    float: none;
    width: auto;
  }

  .noticiaarea1 {
    width: 446px;
  }

  .noticiabig .noticiaimg,
  .noticiabig .noticiaimg img,
  .noticiabig .noticiatitulo {
    width: 415px;
  }
}

@media only screen and (max-width: 783px) {
  .topoint,
  .topo2int,
  .menuint,
  .ultimasnoticiasint,
  .containerint {
    max-width: 320px;
  }

  .topo2 .banner,
  .topoleft,
  .rightside,
  .ultimasnoticias {
    display: none;
  }

  .toporight {
    width: 100%;
  }

  .logo {
    float: none;
    margin: auto;
  }

  .menumobile {
    display: block;
  }

  .menu ul {
    position: absolute;
    background-color: #f00;
    z-index: 1;
    display: none;
  }

  .menu li {
    float: none;
    height: auto;
  }

  .menu li img {
    display: none;
  }

  .submenu {
    position: static;
    display: block;
  }

  .leftside {
    float: none;
    width: auto;
    margin-top: 10px;
  }

  .noticiaarea1 {
    width: 320px;
    height: auto;
  }

  .noticiaarea2 {
    width: 300px;
    margin: auto;
    float: none;
    clear: both;
  }

  .noticiatitulo,
  .noticiainfo {
    width: 206px;
  }

  .noticiabig .noticiaimg,
  .noticiabig .noticiaimg img,
  .noticiabig .noticiatitulo {
    width: 295px;
  }

  .noticiabig .noticiainfo {
    margin-bottom: 10px;
  }
}
